<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacion</title>
    <style>
        table, th, td {
            border: 3px solid black;
            padding: 3px 10px;
            border: PowderBlue 5px dashed;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Carne</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Marcos Adolfo</td>
        <td>Arevalo Ruiz</td>
        <td>3190-22-22508</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Karla Manuela</td>
        <td>Pu y pu</td>
        <td>3190-22-18900</td>
    </tr>
    </tbody>
</table>
</body>
</html>