<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Agregar Autor</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Agregar datos a la autor</h1>
<a th:href="@{/autores}">Regresar</a>
<form th:action="@{/page/autor/guardar}" method="post" th:object="${autor}">
    <br/>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" th:field="*{nombre}"/>
    <br/>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" th:field="*{apellido}"/>
    <br/>
    <label for="fechaDeNacimiento">FechaDeNacimiento:</label>
    <input type="text" name="fechaDeNacimiento" th:field="*{fechaDeNacimiento}"/>
    <br/>
    <input type="submit" name="guardar" th:value="Guardar"/>
</form>
</body>
</html>