<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Agregar Editorial</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Agregar datos a la editorial</h1>
<a th:href="@{/editoriales}">Regresar</a>
<form th:action="@{/page/editorial/guardar}" method="post" th:object="${editorial}">
    <br/>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" th:field="*{nombre}"/>
    <br/>
    <label for="direccion">Direccion</label>
    <input type="text" name="direccion" th:field="*{direccion}"/>
    <br/>
    <label for="ubicacion">Ubicación:</label>
    <input type="text" name="ubicacion" th:field="*{ubicacion}"/>
    <br/>
    <input type="submit" name="guardar" th:value="Guardar"/>
</form>
</body>
</html>