<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Agregar Autor</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <img src="../static/img/E.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Agregar datos al Autor
    </a>
</nav>
<a th:href="@{/autores}">Regresar</a>
<form th:action="@{/page/autor/guardar}" method="post" th:object="${autor}">
    <br/>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" th:field="*{nombre}"/>
    <br/>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" th:field="*{apellido}"/>
    <br/>
    <label for="fechaDeNacimiento">FechaDeNacimiento:</label>
    <input type="date" name="fechaDeNacimiento" th:field="*{fechaDeNacimiento}"/>
    <br/>
    <input type="submit" name="guardar" th:value="Guardar"/>
</form>
</body>
</html>