<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Autor</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<a th:href="@{/agregar-autor}">Agregar Autor</a>
<div th:if="${autores != null }">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>FechaDeNacimiento</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="autor : ${autores}">
            <td th:text="${autor.nombre}">Mostrar Nombre</td>
            <td th:text="${autor.apellido}">Mostrar Apellido</td>
            <td th:text="${autor.fechaDeNacimiento}">Mostrar FechaDeNacimiento</td>
            <td><a th:href="@{/editar-autor/} + ${autor.id}"/>editar</td>
            <td><a th:href="@{/page/autor/eliminar/} + ${autor.id}"/>eliminar</td>
        </tr>
    </table>
</div>
<div th:if="${autores == null or autores.empty}">
</div>

</body>
</html>