<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Agregar Libro</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Agregar datos a la libro</h1>
<a th:href="@{/libros}">Regresar</a>
<form th:action="@{/page/libro/editar}" method="post" th:object="${libro}">
    <br/>
    <input type="hidden" name="idLibro" th:field="*{id}"/>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" th:field="*{nombre}"/>
    <br/>
    <label for="anoDeEdicion">AnoDeEdicion</label>
    <input type="date" name="anoDeEdicion" th:field="*{anoDeEdicion}"/>
    <br/>
    <label for="paginas">Paginas</label>
    <input type="text" name="paginas" th:field="*{paginas}"/>
    <br/>
    <label for="idioma">Idioma</label>
    <input type="text" name="idioma" th:field="*{idioma}"/>
    <br/>
    <label for="categoria">Categoria:</label>
    <select name="categoria" th:field="*{idCategoria}">
        <option th:each="categoria : ${comboBoxCategoria}"
                th:value="${categoria.id}"
                th:text="${categoria.nombre}"></option>
    </select>
    <br/>
    <label for="editorial">Editorial:</label>
    <select name="editorial" th:field="*{idEditorial}">
        <option th:each="editorial : ${comboBoxEditorial}"
                th:value="${editorial.id}"
                th:text="${editorial.nombre}"></option>
    </select>
    <br/>
    <label for="autor">Autor:</label>
    <select name="autor" th:field="*{idAutor}">
        <option th:each="autor : ${comboBoxAutor}"
                th:value="${autor.id}"
                th:text="${autor.nombre}"></option>
    </select>
    <br/>
    <input type="submit" name="guardar" th:value="Guardar"/>
</form>
</body>
</html>